[Desktop Entry]
Name=Boncoin Core
Comment=Connect to the Boncoin P2P Network
Comment[de]=Verbinde mit dem Boncoin peer-to-peer Netzwerk
Comment[fr]=Boncoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Boncoin, eşten eşe kriptografik sanal para birimi
Exec=boncoin-qt %u
Terminal=false
Type=Application
Icon=boncoin128
MimeType=x-scheme-handler/boncoin;
Categories=Office;Finance;
